/* details.module.scss */

// Variables para los colores de los tipos de Pokémon
$type-colors: (
  normal: #A8A878,
  fire: #F08030,
  water: #6890F0,
  electric: #F8D030,
  grass: #78C850,
  ice: #98D8D8,
  fighting: #C03028,
  poison: #A040A0,
  ground: #E0C068,
  flying: #A890F0,
  psychic: #F85888,
  bug: #A8B820,
  rock: #B8A038,
  ghost: #705898,
  dragon: #7038F8,
  dark: #705848,
  steel: #B8B8D0,
  fairy: #EE99AC,
  unknown: #808080
);

// Mixin para aplicar los estilos de tipo de Pokémon
@mixin pokemon-type-style($type) {
  border: 1px solid #f2f1f0;
  background-color: map-get($type-colors, $type);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: capitalize;
}

// Estilos para el detalle del Pokémon
.pokemon-detail {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  &.type-fire,
  &.type-fighting,
  &.type-poison,
  &.type-ground,
  &.type-rock,
  &.type-dark,
  &.type-steel {
    color: white;
  }

  .pokemon-name {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .pokemon-id,
  .pokemon-order {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .pokemon-physical {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    span {
      margin-right: 1rem;
    }
  }

  .pokemon-types,
  .pokemon-stats,
  .pokemon-sprites {
    margin-bottom: 2rem;
  }

  .pokemon-types {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      @each $type, $color in $type-colors {
        &.type-#{$type} {
          @include pokemon-type-style($type);
        }
      }

      display: inline-block;
      margin-right: 1rem;
    }
  }

  .pokemon-stats {
    .radar-container {
      width: 50%;
      margin: 0 auto;
    }
  }

  .pokemon-sprites {
    .sprite-container {
      display: flex;
      justify-content: center;

      img {
        max-width: 100px;
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}